/*招商*/
.join-in1{
	width: 100%;
	height: auto;
}
.join-in1 img{
	width: 100%;
	height: auto;
}
.join-in2{
	width: 100%;
	height: auto;
}
.join-in2 img{
	width: 100%;
	height: auto;
}
.join-in3{
	width: 100%;
	height: auto;
}
.join-in3 img{
	width: 100%;
	height: auto;
}
.join-in4{
	width: 100%;
	height: auto;
}
.join-in4 img{
	width: 100%;
	height: auto;
}
.join-in5{
	width: 100%;
	height: auto;
}
.join-in5 img{
	width: 100%;
	height: auto;
}
.join-in6{
	width: 100%;
	height: auto;
}
.join-in6 img{
	width: 100%;
	height: auto;
}