
.services{
	width: 100%;
	height: auto;
}
.services img{
	width: 100%;
	height: auto;
}
.services-nice{
	width: 100%;
	height: auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.services-nice img{
	width: 100%;
	height: auto;
}
.services3{
	width: 100%;
	height: auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.services3 img{
	width: 100%;
	height: auto;
}
.services4{
	width: 100%;
	height: auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.services4 img{
	width: 100%;
	height: auto;
}
.services5{
	width: 100%;
	height: auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.services5 img{
	width: 100%;
	height: auto;
}
